@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../vendor/font/Inter-Regular.woff);
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(../../vendor/font/Inter-Black.woff);
}
.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;

  background-color: #2A2C2F;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 24px;
  width: 100%;
}
/* для 320 */
@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
