.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0 100px;
  position: relative;
}
/* для 320 */
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
  }
}
