.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.61;
  margin: 0;
}
.place__paragraph:nth-of-type(2) {
  margin-top: 27px;
}
/* для 768 */
@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.65;
  }
  .place__paragraph:nth-of-type(2) {
    margin-top: 25px;
  }
}
