.lead__image {
  background-image: url(../../../images/lead__images/lead__image2.jpg);
  width: 984px;
  height: 615px;
  background-size: contain;
  background-position: center;
  padding: 90px 23px 262px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
/* для 1024 */
@media screen and (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
    padding: 85px 22px 247px;
  }
}
/* для 768 */
@media screen and (max-width: 1023px) {
  .lead__image {
    width: 768px;
    height: 480px;
    padding: 70px 18px 204px;
  }
}
/* для 320 */
@media screen and (max-width: 767px) {
  .lead__image {
    width: 320px;
    height: 200px;
    padding: 29px 8px 85px;
  }
}
