.lead__image {
  background-image: url(../../../images/lead__images/lead__image2.jpg);
  width: 984px;
  height: 615px;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
  padding: 90px 23px 262px;
  box-sizing: border-box;
}
