.cover {
  background-image: url(../../images/cover__images/__background.jpg);
  width: 1184px;
  height: 740px;
  background-size: cover;
  background-position: center;
  margin-bottom: 92px;
  padding: 245px 312px;
  box-sizing: border-box;
  position: relative;
}
