.cover__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 312px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}
.cover__overlay::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
}
.cover__overlay:hover::before {
  opacity: 0.8;
}
/* для 1024 */
@media screen and (max-width: 1279px) {
  .cover__overlay {
    padding: 195px 232px;
  }
}
/* для 768 */
@media screen and (max-width: 1023px) {
  .cover__overlay {
    padding: 115px 104px;
  }
}
/* для 320 */
@media screen and (max-width: 767px) {
  .cover__overlay {
    padding: 33px 16px;
  }
}
